/* admin_panel.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* border: red solid; */
    font-family: 'Montserrat', sans-serif;
}
:root{
    --color1: #800000;
    --color2: #c90;
    --color3: #999999;
}
body {
    background-color: #f4f4f4; /* Color de fondo */
}

.admin-header {
    background-color: var(--color1); /* Fondo del header */
    color: #fff; /* Color del texto */
    padding: 20px;
    text-align: center;
}
.admin-nav{
    width: 700px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-size: 18px;
}
.noti{
    margin: 5px;
    font-size: 22px;
}
.salir{
    font-size: 22px;
}
.admin-nav ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0;
}
.logo-nav{
    vertical-align: middle;
    text-align: left;
    height: 70px;
    width: 700px;
    display: inline-block;
}
.logo-nav img{
    height: 100%;
}
.admin-nav ul li {
    display: inline; /* Elementos en línea */
    margin: 0 15px; /* Espaciado entre enlaces */
}

.admin-nav ul li a {
    color: #fff; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
}

.admin-nav ul li a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
}

.admin-main {
    padding: 20px;
}

.dashboard-overview {
    margin-top: 20px;
}
/* .dashboard-widgets{
    border: red 1px solid;
} */
.widget_index1{
    background-color: #fff; /* Color de fondo del widget */
    padding: 25px 40px;
    margin-left: 70px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra del widget */
    width: 900px;
    overflow: auto;
    display: inline-block;
    vertical-align: top;
    height: 300px;
}
.widget_index{
    background-color: #fff; /* Color de fondo del widget */
    padding: 25px 40px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra del widget */
    width: 350px;
    overflow: auto;
    display: inline-block;
    vertical-align: top;
    height: 300px;
}
.pendientes{
    margin-left: 30px;
    margin-top: 5px;
}
.cont{
    text-align: center;
}
.btn_ss2{
    background-color: var(--color2);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
}
.widget {
    background-color: #fff; /* Color de fondo del widget */
    padding: 25px 40px;
    margin: auto;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra del widget */
    max-width: 90%;
    overflow: auto;
    height: 60vh;
}
.widget-tt{
    background-color: #999999;
    border-radius: 10px 10px 0 0;
    padding: 1px;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}
.widget-tt a{
    border-radius: 10px 10px 0 0;
    padding: 3px 80px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.position{
    background-color: #fff;
}
.tt_paginas{
    padding: 5px 25px;
    font-size: 32px;
}
.st_paginas{
    padding: 0 25px;
    font-size: 22px;
    font-weight: 500;
}
.registro_horas{
    width: 1300px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}
.funcion{
    background-color: white;
}
.widget h3 {
    margin: 0 0 10px; /* Margen inferior */
}
.asistencias{
    font-weight: 500;
    display: inline-block;
}

.selected {
    border-bottom: #fff 2px solid;
}
.widget button{
    color: white;
    background-color: var(--color2);
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.widget ul{
    padding: 10px 25px;
    line-height: 35px;
}
.chek{
    width: 100px;
    display: inline-block;
    margin-left: 15px;
}
.chek i{
    margin-left: 10px;
    margin-right: 15px;
    font-size: 18px;
    color: var(--color1);

}
.noti i{
    color: #c90;
}

.btn_ss{
    background-color: green;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.seleccion{
    background-color: var(--color2);
    color: white;
}
.table_tt{
    background-color: var(--color1);
    color: white;
    width: 140px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}
.tabla_horarios {
    background-color: rgb(180, 180, 180);
    text-align: center;
}

.abierto button{
    background-color: red;
    color: white;
    border: none;
    font-weight: 500;
}
.cerrado button{
    background-color: green;
    color: white;
    border: none;
    font-weight: 500;
}
.tablaspanel{
    margin: auto;
    font-size: 16px;
    text-align: center;
}
.tablaspanel td{
    border: black 3px solid;
    padding: 5px;
}
.tablaspanel th{
    background-color: var(--color1);
    color: #fff;
    padding: 10px;
}
.fecha{
    width: 400px;
}
.horass{
    width: 150px;
}
.contador{
    display: inline-block;
}
.contador button{
    background-color: var(--color2);
    color: white;
    font-weight: bold;
    padding: 5px;
    border: none;
}
.horas{
    color: var(--color1);
    font-weight: bold;
    font-size: 45px;
}

/*Clock*/
.clock {
    background:var(--color2);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 300px;
    margin-right: 150px;
    margin-top: 10px;
    float: right;
  }
  .clock p{
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  #time {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
.form_group_f{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.form_group_f label{
    font-weight: 500;
}
.form_group_f input{
    font-weight: 500;
    padding: 5px;
}
.form_group_f button{
    background-color: var(--color1);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.fechas{
    width: 540px;
    display: inline-block;
}
.todos_f{
    width: 250px;
    display: inline-block;
}